* {
    font-family: Arial, sans;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* Encabezado */
.Header {
    padding: 10px;
    display: block;
    background-color: #f1f1f1;
}
#Logo p{
    font-size: 28px;
    color: darkblue;
    font-weight: 500;
    float: left;
}

#Usuario {
    margin: 10px 0 0 150px;
}

#Fecha {
    text-align: right;
}

.Breadcumb {
    font-size: 12px;
    margin: 10px;
}

/* Container */
.Container {
    padding: 10px;
    
}

.Datos {
    border: 1px darkblue solid;
    border-radius: 10px;
    padding: 10px;
}

.Titulo p {
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 22px;
    color: darkcyan;
}

.RangoFechas {
    margin: 10px 0;
}

table {
    min-width: 50%;
    margin: 0 auto;
}
table th, table td {
    border: solid 1px #ccc;
    padding: 4px;
}

.actions {
    text-align: center;
}

.icon {
    margin: 0 5px;
    width: 24px;
    height: 24px; 
}
.icon:hover {
    cursor: pointer;
}

#Nombre {
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}
