h1 {
	margin: 1em 0;
	text-align: center;
}

#tabulador {
    margin: 10px;
    width: 90%;  /* Ancho del contenedor */
}

#tabulador input {
	height: 2.5em;
	visibility: hidden;
}

.tab {
	background: #f9f9f9;  /* Fondo de las pestañas */
	border-radius: .25em .25em 0 0;
	color: #888;  /* Color del texto de las pestañas */
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1em;  /* Tamaño del texto de las pestañas */
	height: 2.5em;
	line-height: 2.5em;
	margin-right: .25em;
	padding: 0 1.5em;
	text-align: center;
}

#tabulador input:hover + label {
	background: #ddd;  /* Fondo de las pestañas al pasar el cursor por encima */
	color: #666;  /* Color del texto de las pestañas al pasar el cursor por encima */
}

#tabulador input:checked + label {
	background: #f1f1f1;  /* Fondo de las pestañas al presionar */
	color: #444; /* Color de las pestañas al presionar */
	position: relative;
	/*
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-o-transition: .1s;
	-ms-transition: .1s;
	*/
}

#content {
	background: #f1f1f1;  /* Fondo del contenido */
	border-radius: 0 .25em .25em .25em;
	min-height: 20em;  /* Alto del contenido */
	position: relative;
	width: 100%;
}

#content label,
#content img,
#content div p {
    margin: 10px 0;
}

#content-1 {
    background: #f1f1f1;
    width: 100%;
}

#content div {
	opacity: 0;
	padding: 1.5em;	
	/*
	transition: all linear 0.1s;
	*/
}

#content-3 ul {
	margin-bottom: 1em;
}
#content-3 ul {
	margin-left: 2em;
}

#tabulador input#tab-1:checked ~ #content #content-1,
#tabulador input#tab-2:checked ~ #content #content-2,
#tabulador input#tab-3:checked ~ #content #content-3 {
    opacity: 1;
}

input.visible {
  visibility: visible !important;
}

#content div p, #content div label {
    font-size: 14px;
}

